.hero {
  position: relative;
  height: 100vh;
  margin-left: 8%;
  margin-right: 8%;
  background-image: url("../../assets//PizzPeople.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

/* Overlay oscuro */
.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Contenido */
.hero__content {
  position: relative;
  text-align: start;
  color: white;
  padding: 1rem;
  margin: 0 5% 0 5%;
  padding: 0%;
  width: 100%;
}

.hero__content h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero__content span {
  background: linear-gradient(
    90deg,
    #ffb347,
    #ff6b00
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 6rem;
  font-weight: 900;

  letter-spacing: 4px;

  text-shadow:
    0 5px 20px rgba(255,107,0,0.25);

  display: inline-block;
}

.hero__content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.hero__buttons {
  display: flex;
  gap: 1rem;
  justify-content: start;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Botón principal */
.btn.primary {
  background: #e63946;
  color: white;
}

.btn.primary:hover {
  background: #d62828;
}